// Font
$font_monts: 'Montserrat', sans-serif;

// Colors
$black: #171717;
$dark_gray: #646464;
$gray: #959595;
$light_gray: #fbfbfb;
$white: #ffffff;
$light_blue: #f0fafe;
$cream: #ddcbac;
$dark_red: #790000;
$shop_item_pink: #f2ccce;
$shop_item_green: #90d187;
$shop_item_red: #ed1c24;