/* Blog */
.blog {
	margin-top: 50px;
	padding: 100px 0;
	background-color: $light_gray;

	&__inner {
		.blog__content {
			display: flex;
			flex-wrap: wrap;

			margin-left: -15px;
			margin-right: -15px;

			@media only screen and (max-width: 700px) {
				margin: 0;
			}

			.blog__item {
				margin: 0 15px;
				width: calc(33.33333% - 30px);

				text-align: center;
				
				@media only screen and (max-width: 700px) {
					width: 100%;
					max-width: 370px;
					margin: 0 auto;
					margin-bottom: 30px;
				}

				.blog__image {
					.blog__img {
						display: block;
						max-width: 100%;
						height: auto;
					}
				}
				&_suptitle {
					display: flex;
					justify-content: center;

					margin-top: 20px;
					margin-bottom: 10px;
					
					color: $gray;
					font-size: 12px;
					text-transform: uppercase;

					@media only screen and (max-width: 990px) {
						font-size: 8px;
					}

					.suptitle_author {
						margin: 0 30px;

						color: $black;

						position: relative;

						&:before,
						&:after {
							content: "";
							width: 6px;
							height: 6px;

							border-radius: 50%;

							background-color: $gray;

							position: absolute;
							top: 50%;
							z-index: 2;

							transform: translateY(-50%);
						}
						&:before {
							left: -16px;
						}
						&:after {
							right: -16px;
						}
					}
				}// /.blog__item_suptitle
				&_title {
					display: block;
					margin-bottom: 20px;

					color: $black;
					font-size: 20px;
					font-weight: 600;
					text-decoration: none;

					opacity: .8;
					transition: opacity .1s linear;

					@media only screen and (max-width: 990px) {
						font-size: 16px;
					}

					&:hover {
						opacity: 1;
					}
				}
				&_text {
					margin-bottom: 20px;
					padding-top: 20px;
					border-top: 1px solid rgba($gray, .5);

					color: $gray;
				}
				.blog__arrow {
					color: $black;
					font-size: 20px;

					opacity: .8;
					transition: opacity .1s linear;

					&:hover {
						opacity: 1;
					}
				}
			}// /.blog__item
		}// /.blog__content
	}// /.blog__inner
}// /.blog